<section class="section">
  <div class="container">
  <div class="columns is-multiline">

    <!-- loop over our users and give them each a card -->
    <div class="column is-6" *ngFor="let station of stations | paginate: { itemsPerPage: 10, currentPage: pageActual ,totalItems: totalStation,id:'stationPage'}">
        <div class="card">
          <div class="card-content">
            {{ station.adresse }} 
          </div>      
        </div>      
    </div>
    <div class="column is-12">
      <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">               
            <pagination-controls id="stationPage"
            (pageChange)="pageChanged($event)"></pagination-controls>
      </nav>
    </div>
  </div>
  </div>
  </section>
